.wrapperContent{
    vertical-align: middle;
}

.recoverPasswordText{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #28327F;
}
.recoverPasswordText-Wrapper{
    display: flex;
    justify-content: flex-end;
}

.titleContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.titleText{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 28px;
    color: #28327F;
}
.toRight {
}
.infoText{
    color: #28293D;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    text-align: left;
}
.margin-top-1 {
    margin-top: 5px;
    margin-right: 6px;
}
.inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.input{
    border-radius: 10px !important;
    margin-right: 10px;
}
.generalMargin{
    margin-top: 60px;
    margin-bottom: 60px;
}
